@model AtelieDrinks.Models.Custo_deslocamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Custo_deslocamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdTipoDeslocamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdTipoDeslocamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTipoDeslocamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTipoDeslocamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoTipoDeslocamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoTipoDeslocamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTaxaDeslocamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
