@model AtelieDrinks.Models.CustoOperacional

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustoOperacional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdCoordenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdCoordenador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCoordenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorCoordenador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdProfissionaisGerais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdProfissionaisGerais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorProfissionaisGerais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorProfissionaisGerais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdTransporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdTransporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTransporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTransporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdBalcoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdBalcoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorBalcoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorBalcoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deslocamento.QtdTipoDeslocamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deslocamento.QtdTipoDeslocamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deslocamento.ValorTipoDeslocamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deslocamento.ValorTipoDeslocamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdImpostosFederais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdImpostosFederais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorImpostosFederais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorImpostosFederais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdSeguroReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdSeguroReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorSeguroReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorSeguroReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdTaxaOperacional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdTaxaOperacional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTaxaOperacional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTaxaOperacional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custo_Operacional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custo_Operacional)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCustoOperacional" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
