@model IEnumerable<AtelieDrinks.Models.Historico>

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Historico</title>
    <link rel="stylesheet" type="text/css" href="/css/menulateral.css" />


</head>
<body>
    <div class="cabecalho">
        <div class="container">
            <img src="~/images/coqueteis.png" alt="drinks" class="img-cabecalho">
            <div class="texto">
                <h1>Historico</h1>
            </div>
        </div>
    </div>
    <div class="meio" >
        <h2>Historicos Gerais</h2>

        <div class="search-box">
            <input type="text" class="search-txt" id="search-input" placeholder="">
            <a href="#" class="search-btn">
                <img src="~/images/lupa.svg" alt="lupa" height="20px" width="20px">
            </a>
        </div>
    </div>
    <div class="separa">
        <div class="table-container">
            <h1 class="heading">Tabela de Historicos</h1>
            <div class="tabela-overflow">
                <table class="tabela" id="tabela-insumos">
                    <thead>
                        <tr>

                            <th>
                                Cliente
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.numero_pessoas)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.custo_total)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.valor_orcamento)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.previsao_lucro)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.qtde_convidados)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.qtde_drinks)
                            </th>

                            <th>
                                Data
                            </th>

                            <th>
                                Detalhes
                            </th>

                        </tr>
                    </thead>
                    <tbody class="table-content">
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    XXX
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.numero_pessoas)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.custo_total)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.valor_orcamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.previsao_lucro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.qtde_convidados)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.qtde_drinks)
                                </td>

                                <td>
                                    XXX
                                </td>

                                <td>
                                    <a asp-action="Details" asp-route-id="@item.id_historico"><i class="fas fa-info-circle"></i></a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>


<style>
    
    .tabela-overflow {
        overflow: auto;

    }
    thead{
        justify-content:center;
        align-items:center;
        white-space:nowrap;
    }
</style>
